ul{
    list-style: none;
}
summary{
    display: list-item;
    list-style: none;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
details{
    margin: 10px 0;
}

details[open] summary {
    background-color: #e0e0e0;
    border-radius: 10px 10px 0 0;
}

details[open] div{
    border: 1px solid #ccc;
    font-size: 0.7em;
    border-radius: 0 0 10px 10px;
}

summary::marker {
    color: #333;
    font-weight: bold;
}

summary::-webkit-details-marker {
    color: #333;
}
