ul{
    list-style: none;
}
summary{
    display: list-item;
    list-style: none;
    cursor: pointer;
}

details[open] summary {
    background-color: #e0e0e0;
}

summary::marker {
    color: #333;
    font-weight: bold;
}

summary::-webkit-details-marker {
    color: #333;
}

a {
    text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
    color: inherit; /* 링크 색상을 부모 요소에서 상속 */
    cursor: pointer; /* 링크 위로 마우스 커서를 가져다 놓으면 포인터 모양으로 변경 */
}
